html
  head
    title=title
    link(href='/stylesheets/my.css',rel='stylesheet')
   
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='http://fonts.googleapis.com/css?family=Varela', rel='stylesheet')
    link(href='/stylesheets/my.css',rel='stylesheet')
    link(href='/stylesheets/firstpage.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/firstpagefonts.css', rel='stylesheet', type='text/css', media='all')
    
    //if IE 6
      link(href='default_ie6.css', rel='stylesheet', type='text/css')
  body
    #wrapper
      #header-wrapper
        #header.container 
          //h2 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp MENTOR REGISTRATION
           
          
        
          
          #logo
            h1
              img(src='images/logo2.png', alt='', width='70', height='70')

              
             
          #menu
            ul
              li
                a(href='/home', accesskey='1', title='') Homepage

               
              li  
               if (user)
                a(href='/logout') Logout
             

             
   #banner
    .title
            h2 Add Event
    div.container

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Registration Successfull! 
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 Event Name
          div.col-sm-8
            input.form-control(
              placeholder='Name of the event',
              required=true,
              name='eventName',
              type='text',
              value=eventName,
              style='width: 300px',
              )
        
        div.form-group
          label.col-sm-4 Start Date
          div.col-sm-8
            input.form-control(
              placeholder='Start Date',
              required=true,
              name='startDate',
              type='date',
              style='width: 200px',
              value=StartDate)
        div.form-group
          label.col-sm-4 End Date
          div.col-sm-8
            input.form-control(placeholder='End Date',
              required=true,
              name='endDate',
              type='date',
              style='width: 200px',
              value=endDate)
        div.form-group
          label.col-sm-4 Start Time
          div.col-sm-8
            input.form-control(placeholder='What time Event starts?',
              required=true,
              name='startTime',
              type='time',
              style='width: 200px',
              value=startTime)
        div.form-group
          label.col-sm-4 End Time
          div.col-sm-8
            input.form-control(placeholder='What time Event ends?',
              required=true,
              name='endTime',
              type='time',
              style='width: 200px',
              value=endTime)
        div.form-group
          label.col-sm-4 Venue
          div.col-sm-8
            input.form-control(placeholder='e.g. UC Landing',
              required=true,
              name='venue',
              type='text',
              style='width: 200px',
              value=venue)
        
         div.form-group
          label.col-sm-4 Event Detail
          div.col-sm-8
            textarea.form-control(required='true',rows="4", placeholder="Enter event detail here.", style='width:300px',name='eventDetail', type='text')
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Submit
        