html
  head
    title=title
    link(
      href='/stylesheets/my.css',
      rel='stylesheet'
    )
  body
    div.container

      div.page-header
        h1 Host Family Registration

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Registration Successfull! 
      form(method='post', role='form', id='hostfamily')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js").
          script(type='text/javascript').

                  $('#hostfamily').on('.submit', function (event) {
                    event.preventDefault(); // Stop the form from causing a page refresh.
                    var data = {
                      firstName:  $("input[name='firstName']").val(),
                      lastName:   $("input[name='lastName']").val(),
                      email:      $("input[name='email']").val(),
                      mobileNo:   $("input[name='mobileNo']").val(),
                      preference: $("textarea[name='preference']").val(),
                      address:    $("textarea[name='address']").val()
                    };
                    $.ajax({
                      url: '/hostreg',
                      data: data,
                      method: 'POST'
                    }).then(function (response) {

                        $('.alert.alert-success').html("<div id='message'></div>");
                          $('#message').html("<h2>Host Family registration successful</h2>")
                        .append("<p>We will be in touch soon.</p>")

                    }).catch(function (err) {
                      console.error(err);
                    });
                  });

        div.form-group
          label.col-sm-4 First Name
          div.col-sm-8
            input.form-control(
              placeholder='Your first name',
              required=true,
              name='firstName',
              type='text',
              value='',
              style='width: 300px',
              )
        
        div.form-group
          label.col-sm-4 Last Name
          div.col-sm-8
            input.form-control(placeholder='Your last name',
              required=true,
              name='lastName',
              type='text',
              style='width: 300px',
              value='')
        
           
        div.form-group
          label.col-sm-4 Email
          div.col-sm-8
            input.form-control(placeholder='example@example.com',
              required=true,
              name='email',
              type='email',
              style='width: 300px',
              value=email)      
        div.form-group
          label.col-sm-4 Cellphone
          div.col-sm-8
            input.form-control(placeholder='Cellphone Number',
              required=true,
              name='mobileNo',
              type='number',
              style='width: 300px',
              value=cellphone)
        
         div.form-group
          label.col-sm-4 Preference
          div.col-sm-8
           textarea.form-control(rows="4", placeholder="Please let us know your preference",
           style='width:300px' name='preference')
                 
         
        
            
         div.form-group
          label.col-sm-4 Address
          div.col-sm-8
           textarea.form-control(rows="4", placeholder="Please provide your address",
           style='width:300px', name='address')
            
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.submit(type='submit') Submit
        div.pull-right
          a(href="/ghelp") Return to home page
    